
.Match img {
	width: 150px;
	margin-bottom: 100px;
}
.Match header {
	width: 90%;
	text-align: center;
	padding: 20% 5%;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}
.Match img {
	width: 60%;
	margin-bottom: 40px;
}

.CloseBtn {
	position: absolute;
	top: 15px;
	right: 15px;
}
.CloseBtn img{
	width: 25px;
	margin: 0;
}


.Match h2 {
	color: #FE5C45;
	font-size: 25px;
}
