.FormInscription header {
	padding: 0 0 45px;
}
.FormInscription header {
    padding: 50px 5% 30px;
    background-color: #2d2d2d;
}
.FormInscription header h2,
.FormInscription header p {
    color: #fff;
}