.BtnLoginMonster{

}




.FormLogin input{
	padding: 15px 10%;
	width: 80%;
	border-radius: 70px;
	border: none;
	border: 1px solid;
}

.FormLogin .button {

	width: 100%;

}
.FormLogin header {

	text-align: center;
	padding: 20% 5% 0;

}


.FormLogin img {
	

    width: 100px;
    margin-bottom: 15px;

}